.nav-horizontal {
  background-color: #ffffff;
  overflow: hidden;
  height: 3em;
  width: 100%;
  z-index: 1000;
}
.nav-horizontal .mask {
  padding-top: 0;
  padding-bottom: 0;
  height: 3em;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.nav-horizontal .list {
  display: inline-table;
  margin: 0 auto;
  max-width: 100%;
}
.nav-horizontal .list li {
  display: table-cell;
}
.nav-horizontal .list a {
  display: block;
  padding: 0 1em;
  text-decoration: none;
  color: #333;
  height: 2em;
  line-height: 2;
  white-space: nowrap;
}
.nav-horizontal .list a:hover {
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

.nav-horizontal .list li.active {
  border-bottom: solid 3px #003e21;
}

