@media screen and (max-width: 767px) {
  .nav-horizontal {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .nav-horizontal {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .nav-horizontal {
    width: 970px;
  }
}
.nav-horizontal {
  background-color: #ffffff;
  font-size: 15px;
  overflow: hidden;
  height: 3em;
  border-bottom: 2px solid #003e21;
  z-index: 1000;
}
.nav-horizontal .mask {
  height: 5em;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.nav-horizontal .list {
  display: inline-table;
  margin: 0 auto;
  max-width: 100%;
}
.nav-horizontal .list li {
  display: table-cell;
}
.nav-horizontal .list a {
  display: block;
  padding: 0 1em;
  text-decoration: none;
  color: #333333;
  height: 3em;
  line-height: 3;
  white-space: nowrap;
}
.nav-horizontal .list a:hover {
  font-weight: bolder;
  border-bottom: 2px solid black;
  background-color: #003E21;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

.nav-horizontal .list li.active {
  background-color: #003E21;
}

.nav-horizontal .list li.active a {
  color: #ffffff;
}